.Slider{
    width: 550px;
    height: 400px;


}



.Slider_image {
    width: 100%;
    height: 100%;
    object-fit: inherit;

}

@media screen and (max-width: 570px) {

    .Slider{
        width: 380px;
        height: 400px;
    }

}


